<% layout('layout') %>

<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function (event) {
        history.go(1);
    };
</script>

<script src="js/alertify.min.js"></script>
<link rel="stylesheet" href="stylesheets/alertify.core.css"/>
<link rel="stylesheet" href="stylesheets/alertify.bootstrap.css"/>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    var socket = io.connect();

    function RoomJoin(roomname, game, playerCount) {
        //todo 다른 방식으로 처리 하기 바람
        socket.emit('check_room_info', roomname);
        socket.on('check_room_info_post', function (data) {
            console.log(data.currentPlayer);
            if (data === false) {
                location.href = "/GAMEROOMLIST";
            } else if (playerCount < data.currentPlayer + 1) {
                alertify.alert('The room is full', function () {
                    //after clicking OK
                });
            } else {
                alertify.confirm('Are you sure you want to enter the room?', function (e) {
                    if (e) {
                        var oForm = document.createElement('form');
                        oForm.method = "post";
                        oForm.action = "/JOIN_ROOM";
                        var objs = document.createElement("input");
                        objs.setAttribute('type', 'hidden');
                        objs.setAttribute('name', 'roomname');
                        objs.setAttribute('value', roomname);
                        oForm.appendChild(objs);
                        var objs1 = document.createElement("input");
                        objs1.setAttribute('type', 'hidden');
                        objs1.setAttribute('name', 'game');
                        objs1.setAttribute('value', game);
                        oForm.appendChild(objs1);
                        var objs2 = document.createElement("input");
                        objs2.setAttribute('type', 'hidden');
                        objs2.setAttribute('name', 'playerCount');
                        objs2.setAttribute('value', playerCount);
                        oForm.appendChild(objs2);
                        oForm.submit();
                    } else {
                        //after clicking Cancel
                    }
                });
            }
        });
    }

    /*
     function customConfirm(customMessage) {
     var dfd = new jQuery.Deferred();
     $("#popUp").html(customMessage);
     $("#popUp").dialog({
     resizable: false,
     height: 240,
     modal: true,
     buttons: {
     "OK": function () {
     $(this).dialog("close");
     alert(true);
     dfd.resolve(true);
     },
     "Cancel": function () {
     $(this).dialog("close");
     alert(false);
     dfd.resolve(false);
     }
     }
     });
     return dfd.promise();
     }
     */
    function CreateRoom() {
        location.href = "/CREATEROOM";
    }

    $(function () {
        socket.emit('request_room_list');

        socket.on('roomlist', function (data) {
            for (var i = 0; i < data.length; i++) {
                var tag =
                        "<tr onclick='RoomJoin(\"" +
                        data[i].roomname + "\", \"" +
                        data[i].game + "\", " +
                        data[i].playerCount +
                        ")'>" +
                        '<td>' + (i + 1) + '</td>' +
                        '<td>' + data[i].roomname + '</td>' +
                        '<td>' + data[i].game + '</td>' +
                        '<td>' + data[i].playerCount + 'P' + '</td></tr>';
                $(tag).appendTo('#gamelist');
            }
            //socket.disconnect();
        });
    });
</script>

<div>
    <div class="col-xs-2">
        <button onclick="CreateRoom()" style="background-color: #000080; color: #FFF">Create</button>
    </div>
    <div class="modal-content col-xs-10">
        <div class="modal-header">
            <h4 class="modal-title">Room List</h4>
        </div>

        <table id="gamelist" class="table table-hover">
            <thead>
            <tr>
                <th class="col-xs-1">NUMBER</th>
                <th class="col-xs-7">ROOM NAME</th>
                <th class="col-xs-3">GAME</th>
                <th class="col-xs-1">1P/2P</th>
            </tr>
            </thead>
        </table>
    </div>
</div>