<% layout('layout') %>

<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function(event) {
        history.go(1);
    };
</script>


<script src="js/alertify.min.js"></script>
<link rel="stylesheet" href="stylesheets/alertify.core.css"/>
<link rel="stylesheet" href="stylesheets/alertify.bootstrap.css"/>


<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Login</h4>
    </div>

    <form method="post" action="/LOGIN?url=<%= url %>">
        <div class="modal-body">
            <fieldset>
                <div class="form-group">
                    <label>E-mail</label>
                    <input input type="email" class="form-control" name="username" id="user" placeholder="Email"
                           maxlength="64" onkeydown="checkscript1()">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                           maxlength="16" onkeydown="checkscript2()">
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" onclick="checkLogin()" class="btn btn-primary" style="background-color: #000080">Login</button>
            <button type="button" onclick="sign_up_redirect()" class="btn btn-primary"
                    style="background-color: #000080">Sign Up
            </button>
        </div>
    </form>
</div>

<script>

    function sign_up_redirect() {
        location.href = "/SIGN_UP";
        return true;
    }

    function checkLogin(){
        var username = $('#user').val();
        var password =  $('#password').val();

        $.get('/CHECKLOGIN?id='+ username, function (data, err) {

            if (data == 'true') {
                $('#user').val('');
                $('#password').val('');
                alertify.alert('Please check Your Email & Password', function () {
                    //after clicking OK
                });
            }

        });

    }

    function checkscript1(){
        var script = $('#user').val();

        if( (script.search("<") != -1) || (script.search(">") != -1) ) {
            alertify.alert('cannot use < > sign', function () {
                //after clicking OK
                $('#user').val('');
            });
        }
    }

    function checkscript2(){
        var script = $('#password').val();

        if( (script.search("<") != -1) || (script.search(">") != -1) ) {
            alertify.alert('cannot use < > sign', function () {
                //after clicking OK
                $('#password').val('');
            });
        }
    }

</script>
