<% layout('layout') %>

<script src="js/alertify.min.js"></script>
<link rel="stylesheet" href="stylesheets/alertify.core.css"/>
<link rel="stylesheet" href="stylesheets/alertify.bootstrap.css"/>

<ul class="breadcrumb" style="background-color: #FFFFFF">
    <br/>

    <form method="post" action="/SIGN_UP">
        <fieldset>
            <legend style ="text-align: left">Sign up</legend>
            <div class="form-group" style ="text-align: left">
                <label for="exampleInputEmail">Email</label>
                <input type="email" class="form-control" name="username" id="user" placeholder="Email" maxlength="64" onkeydown="checkscript1()">
            </div>
            <center><a onclick="checkUserName()" style="width:100%; color : #FFF; background-color: #000080"
                       class="btn btn-default">Check User Name</a></center>

            <div style="width:100%; height: 25px"></div>

            <div class="form-group" style ="text-align: left">
                <label for="exampleInputPassword">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                       maxlength="16" onkeydown="checkscript2()">
            </div>
            <div class="form-group" style ="text-align: left">
                <label for="exampleInputPassword">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_password" id="confirm_password"
                       placeholder="Confirm Password" maxlength="16" onkeydown="checkscript3()" >
            </div>
            <center>
                <button type="submit" onclick="checkPassword()" style="width:100%; color : #FFF; background-color: #000080"
                        class="btn btn-default" >Submit
                </button>
            </center>
        </fieldset>
    </form>
    <br/>
</ul>

<script>
    function checkUserName() {
        var username = $('#user').val();
        var regex=/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/;

        if (username == '') {
            alertify.alert('Please Abide by Email form.', function () {
                //after clicking OK
            });
        }

        else if(regex.test(username)===false){
            alertify.alert('Please Abide by Email form.', function () {
                //after clicking OK
                $('#user').val('');
            });
        }
        else {
            $.get('/CHECKUSERNAME?id=' + username, function (data, err) {
                if (data == 'true') {
                    $('#user').val('');
                    alertify.alert('Username already exists. \n Please enter another Email', function () {
                        //after clicking OK
                    });
                }
                else {
                    alertify.alert('You can use this Email.', function () {
                        //after clicking OK
                    });
                }
            });
        }
    }

    function checkPassword() {
        var pw1 = $('#pasword').val();
        var pw2 = $('#confirm_password').val();

        if (pw1 != pw2) {
            alertify.alert('Please check your password', function () {
                $('#password').val('');
                $('#confirm_password').val('');
                //after clicking OK
            });
        }
    }

    function checkscript1(){
        var script = $('#user').val();

        if( (script.search("<") != -1) || (script.search(">") != -1) ) {
            alertify.alert('cannot use < > sign', function () {
                //after clicking OK
                $('#user').val('');
            });
        }
    }

    function checkscript2(){
        var script = $('#password').val();

        if( (script.search("<") != -1) || (script.search(">") != -1) ) {
            alertify.alert('cannot use < > sign', function () {
                //after clicking OK
                $('#password').val('');
            });
        }
    }

    function checkscript3(){
        var script = $('#confirm_password').val();

        if( (script.search("<") != -1) || (script.search(">") != -1) ) {
            alertify.alert('cannot use < > sign', function () {
                //after clicking OK
                $('#confirm_password').val('');
            });
        }
    }

</script>
